@import '../../globals/variables';
@import '../../breakpoints//breakpoints.scss';
.hero-info-wrapper {
  grid-column: 2/span 3;
  height: 70vh;
  padding-top: 100px;
  h1 {
    font-size: 2.5rem;
  }
  @include media ('<desktop') {
    grid-column: 2/span 3;
  }
}




.subtitle-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.subtitle-text {
  width: 50%;
  font-size: 1.5rem;
}


.logo-wrapper {
  margin-left: auto;
  height: 100px;
  img {
    height: 100%;
  }
}

.cta-button-wrapper {
  margin-top: 20px;

}

.cta-button {
  width: 250px;
  height: 50px;
  background: linear-gradient(45deg, $maxYellow, $darkTerraCotta);
  border: none;
  border-radius: 25px;
  &:hover {
    cursor: pointer;
    background: linear-gradient(45deg, $darkTerraCotta, $maxYellow);
    box-shadow: 6px 6px 16px #000000;
  }
}

.pretty-holder {
  padding-top: 50px;
  grid-column: 8/span 4;
  img {
    width: 400px;
  }
}