@import '../../globals/variables';
@import '../../breakpoints/breakpoints.scss';

.navigation-wrapper {
  display: flex;
}

.logo-box {
  height: 36px;
  width: 36px;
  margin: auto 0;
  img {
    width: 100%;
  }
}
.navigation {
  height: 70px;
  margin: auto;
  align-items: center;
  display: flex;
  a {
    text-decoration: none;
  }
}

.route-links {
  a {
    display: inline-block;
    margin-right: 10px;
  }
  a:last-child {
    margin-right: 0px;
  }
  
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-bar {
  display: block;
  margin: 0 auto;
}