@import '../../globals/variables';
@import '../../breakpoints/breakpoints.scss';

.navigation-wrapper {
  display: flex;
}

.logo-box {
  height: 36px;
  width: 36px;
  margin: auto 0;
  img {
    height: 100%;
    width: auto;
  }
}
.navigation {
  height: 70px;
  margin-left: auto;
  align-items: center;
  display: flex;
}

.sort-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  div {
    display: flex;
    margin: auto 10px;
    label {
      margin-right: 5px;
      font-size: 1rem;
    }
    select {
      color: $darkGunmetal;
    }
  }
}

.search-wrapper {
  width: 70%;
}