@use '../../variables.scss';
.navigation-wrapper {
  grid-column: 1/13;
}
.navigation {
  width: 83%;
  margin: 0 auto;
  height: 70px;
  align-items: center;
  display: flex;
}

.sort-options {
  width: 30%;
  display: flex;
  justify-content: space-between;
  div {
    label {
      margin-right: 5px;
    }
  }
}

.search-wrapper {
  width: 70%;
}