@import '../../globals/variables';


.selected-item {
  grid-column: 2/12;
  padding: 20px 50px;
  background: linear-gradient(45deg, $maxYellow, $darkCerulean);
  border-radius: 30px;
  .title {
    margin-bottom: 10px;
  }
}

.movie-preview-container {
  width: 100%;
  display: flex;
}

.movie-trailer-wrapper {
  width: 50%;
}

.movie-preview-box {
  overflow: hidden;
  border-radius: 30px;
  position: relative;

  img {
    width: 100%;
    filter: brightness(50%);
    transition: 0.2s ease-in;
  }
}

.video-start-box {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: $darkTerraCotta;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $maxYellow;
    box-shadow: 4px 4px 6px #1b081dc0;
  }

  a {
    display: block;
    height: 100%;
    width: 100%;

    div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-45%, -45%);
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;

      border-left: 10px solid rgb(47, 5, 53);
    }
  }

}

.movie-info-wrapper {
  width: 50%;
  padding-left: 10px;
  position: relative;
}

.movie-main-info {
  display: flex;
  align-items: top;
  justify-content: center;
  min-height: 50px;
  margin-bottom: 10px;
}

.movie-rating {
  width: 50px;
}

.movie-title-date {
  width: 90%;
  padding-left: 10px;
}

.movie-overview {
  height: calc(100% - 140px);
}

.selected-item-actions-control {
  display: flex;
  height: 70px;
}

.button-wrapper {
  height: 40px;
  width: 40px;
  margin: auto 15px;
  button {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(168, 110, 118, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in;
    &:hover {
      cursor: pointer;
      background-color: $darkTerraCotta;
      box-shadow: 4px 4px 6px #1b081dc0;
      border: $maxYellow;
      svg {
        color: $maxYellow;
      }
    }
    svg {
      height: 70%;
      width: 70%;
      color: #fff;
      
    }
  }
}

.first {
  margin-left: 0;
}

.more-details-wrapper {
  display: flex;
  align-items: center;
}