$pink: #B528B2;
@import './globals//variables';
@import './breakpoints/breakpoints.scss';



.App {
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  max-width: 1920px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
}

a {
  color: #000;
}


header {
  grid-column: 2/12;
  height: 80px;
  @include media ('<=tablet') {
    grid-column: 1/13;
    width: 90%;
    margin: 0 auto;
  }
  background-color: $darkCerulean;
  border-radius: 0px 0px 10px 10px;
  padding: 10px 20px;
}

.view-page {
  grid-column: 2/12;
}

.loading-screen {
  grid-column: 1/ span 12;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 100px;
  grid-column: 2/ span 10;
  min-height: 250px;
  background-color: $darkCerulean;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 20px;
}