$pink: #B528B2;

.App {
  width: 100vw;
  background-image: linear-gradient(rgba(60, 21, 59, 0.808),rgba(60, 21, 59, 0.808)), url('./assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: #ffffff;
}

.loading-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
